* {
  font-family: Arial, Helvetica, sans-serif;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

body {
  width: 600px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  background-image: url("../img/wall.jpg");
}

h1 {
  font-size: 30px;
}

form input {
  font-size: 20px;
  padding-left: 4px;
  background-color: #CECECE;
  border: 0;
  width: 200px;
  height: 30px;
  text-align: center;
}

form input:hover {
  background-color: #f6b04eb4;
}

#acceso {
  padding: 25px;
  height: 350px;
  background-color: rgb(255, 255, 255, 0.94);
  box-shadow: #571818 0px 0px 20px 10px;
}

#acceder {
  width: 200px;
  height: 30px;
  color: white;
  background-color: #0D9AD7;
}

#acceder:hover {
  background-color: #FE0000;
  letter-spacing: 2px;
}

#error {
  color: red;
}